*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,span,ul,ol{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    text-transform:  uppercase;
}
h3{
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
}
.section_heading p span{
    font-size: 23px;
    font-weight: 800;
}
.section_heading p{
    line-height: 40px;
}


/* back to top js*/
.backTop{
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    background-color: #cfc91d;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    z-index: 9999;
    display: none;
    
}
.backTop i{
    color: #02918c;
}


/*menu css*/

.customNav{
     background-color: #02918c;
     padding: 0;   /*bootsstrap er nijesso padding bad dewr jonne */
     overflow: hidden;
     margin: 0;
     padding: 0;

     /* transition: .5s;*/   /* new effect use  */  
}

#myNav ul li a{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 25px; 

}
#myNav .nav-item .nav-link.active{    /*menu activ er jonne */
    background-color: #cfc91d;
    display: inline-block;
    border-radius: 0;
    
    /* padding: 5px 10px; */

}

/* menu fixed */

.menuFix{
    position: fixed;    
    top: 0;
    width: 100%;
    z-index: 9999;
}
 /* transform: scale(1.1);
    transition: .5s; */         /*new effect use*/
   






/*banner part css*/
#banner .carousel-item{
    height: 700px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}
#banner .carousel-item:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .50);
    z-index: -1;

}
#banner .carousel-item .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
#banner .carousel-caption h1{
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 25px;
    color: #fff;
    padding: 10px 0;

}
#banner .carousel-caption h3{
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;

}
#banner .carousel-caption p{
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
}

.carousel-caption button{
    border: none;
    margin-top: 40px;
    padding: 10px 30px;
    background-color: #cfc91d;
    font-size: 14px;
    font-weight: 800;
 }
 
 .carousel-caption img{
     margin-top: 30px;
 }

/* about css */

#about{
    padding: 90px 0 80px 0;
}
#about .section_heading{
    margin-bottom: 50px;
}
.about_border{
    border-right: 1px solid #ddd;
}
.about_item{
    padding: 40px 15px;
}
.about_item p{
    line-height: 30px;
}
.about_item h3{
    padding: 10px 0;
}
.about_item i{
    padding-bottom: 20px;
    font-size: 25px;
    color: #02918c;
}

/* service part css */
#service{
    background: url(../images/service_banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    height: 700px;
}
#service .service_1{
    padding-top: 40px;
}
.service_item h3{
    padding: 10px 0;
}
.service_item i{
    font-size: 20px;
    color: #02918c;
}
.service_item p{
    padding-bottom: 30px ;
    
   
}


/*  work css*/

#work{
    padding: 60px 0 50px 0;
}
.work_items{
    padding: 0;
    position: relative;
    overflow: hidden;
    
}
.work_items img{
    width: 100%;
    transition: .5s;
    
}
.work_items:hover img{
    transform: scale(1.2);
}
.section_heading p{
    padding-bottom: 40px;
}
.work_items .overly{
    position: absolute;
    left: 20px;
    right: 20px;
    top: 30px;
    bottom: 30px;
    background-color: rgba(2, 145, 140, .8);
    transform: scale(0);
    transition: .5s;
}
.work_items:hover .overly{
    transform: scale(1); 
}
.work_items h3{
    color: #fff;
    padding-top: 40px;
}
.work_items p{
    color: #fff;
}


/* new hover effect  img practis*/

/* .work_item .overly{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(2, 145, 140, .8);
    transform: scale(0);
    transition: .5s;
}

.work_item:hover .overly{
    transform: scale(1);
}  

.work_item:hover img{
    transform: scale(0);
    transition: .5s;
} */

/* contact part css */
#contact_form{
    background-color: #0b1016;
    padding: 60px 0; 
}
#contact_form textarea,
#contact_form input{
    background: transparent;
    margin-bottom: 40px;
    height: 50px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
}

#contact_form textarea{
    border-top: 1px solid #fff;
    height: 150px;
    resize: none;
}
#contact_form label{
    display: block;
    text-align: center;
    color: #ddd; 
    text-transform: uppercase;
}
#contact_form textarea:focus,
#contact_form input:focus{
    box-shadow: none !important;
}


/* footer part */

#footer_part{
    background-color: #000000;
    padding: 15px 0;
}



